<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/app.css">
	<script src="/js/params.js" charset="utf-8"></script>
	<script src="/js/web3.min.js" charset="utf-8"></script>
	<script src="/js/jsbn.js" charset="utf-8"></script>
	<script src="/js/jsbn2.js" charset="utf-8"></script>
	<script src="/js/base58.js"></script>
	<!--<script src="/js/index.min.js" charset="utf-8"></script>-->
	<script src="https://unpkg.com/ipfs/dist/index.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class = "ui fixed inverted menu">
	<div class = "ui container">
		<div class = "header item"><i class="code icon"></i>Blog Site</div>
		<a href="/" class = "item">Home </a>
		<a href="/blogs/new" class = "item">New Post</a>
	</div>
</div>
