
<% include ./partials/header %>

<h1></h1>
<div class="ui main text container">
  <div class="ui huge header">RESTful Blog App</div>
  <div class="ui top attached segment">
  <div class="ui divided items" id = "parent">

  </div>
  </div>
  </div>


<script src="/js/indexblog.js" charset="utf-8"></script>
  </body>
</html>
